@model List<Mercer_Craigslist.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Categories</h2>
    <div class="row boxes">
            @foreach (var category in Model)
            {
            <div class="category-box col-md-4">
                <img src="/images/@Url.Content(category.ToString() + ".jpg")" />
                <p>
                    @Html.ActionLink(category.ToString(), "Category", new { categoryID = category }, new { @class = category })
                </p>
            </div>
            }
    </div>
</div>

