
@model Mercer_Craigslist.Models.Item
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
<!-- Helper Method -->
@using (Html.BeginForm("Update", "Items", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_ItemForm");
}