@model Mercer_Craigslist.Models.Item
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
<!-- Helper Method -->
@using (Html.BeginForm("Add", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_ItemForm");
}
